# User-specific files
.idea/*
!.idea/cmake.xml

# External lib directory
vendor/*
!vendor/CMakeLists.txt
intermediate/

# Build directory
bin/2D-RayCaster/[Dd]ebug*/
bin/2D-RayCaster/[Rr]elease*/